<h1>Know your Fibonacci!</h1>

{{if .Result}}
<h2>Result is: {{printf "%s" .Result}}</h2>
Calculation took us <b>{{printf "%s" .Duration}}</b>
{{- end}}

{{if .Error}}
<h2 style="color:red">Something went worng: {{printf "%s" .Error}}</h2>
{{- end}}

<div>
	<form action="/fibonacci" method="GET">
	<div>
		<label for="n">Fibonacci</label>
		<input name="n" type="number" min="0" required>
		<input type="submit" value="Submit">
	</div>
	</form>
</div>

<div>
	<form action="/ackermann" method="GET">
	<div>
		<label for="m">Ackermann</label>
		<input name="m" type="number" min="0" required>
		<input name="n" type="number" min="0" required>
		<input type="submit" value="Submit">
	</div>
	</form>
</div>

<div>
	<form action="/factorial" method="GET">
	<div>
		<label for="n">Factorial</label>
		<input name="n" type="number" min="0" required>
		<input type="submit" value="Submit">
	</div>
	</form>
</div>

<a href="/metrics">Prometheus Metrics</a>
